*{
    font-family: Arial, Helvetica, sans-serif;
}

.lvl_1, .lvl_2, .lvl_3, .lvl_4, .lvl_5, .lvl_6, .lvl_7{
    border: 5px solid black;
    padding: 20px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px 200px 200px;
}

.lvl_1{
    background-color: brown;
    grid-column-start: 4;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.lvl_2{
    background-color: antiquewhite;
}

.lvl_3{
    background-color: orangered;
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

.lvl_4{
    background-color: blue;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}

.lvl_5{
    background-color: antiquewhite;
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

.lvl_6{
    background-color: antiquewhite;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.lvl_7{
    background-color: antiquewhite;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

/*-------------------------------------*/

.grid_2{
    color: rgb(71, 71, 71);
    background-color: rgb(235, 235, 235);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 300px 200px 200px;
}

p{
    font-size: 25px;
    font-weight: bold;
}

.box_1{
    grid-column-start: 4;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.box_2{
    padding: 0 0 0 50px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.h1{
    padding: 0;
    margin: 0;
    font-size: 150px;
}

.box_3{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

.box_4{
    grid-column-start: 4;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}

.box4_p{
    font-size: 40px;
}

/*-------------------------------------*/

.grid_3{
    background-color: rgb(192, 192, 192);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 200px 190px 300px 250px;
}

.info{
    background-color: rgb(148, 148, 148);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 1;
}

.flex_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_a{
    margin: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
}
a{
    font-size: 25px;
    text-decoration: none;
    margin: 0 0 10px 0;
    color: black;
}

.logo{
    width: 70%;
}


.graf_p1, .graf_p2_1, .graf_p2_2, .graf_p2_3, .graf_p3_1, .graf_p3_2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.graf_p1{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 1;
}

.img_graf1, .img_graf2, .img_graf3, .img_graf4, .img_graf5, .img_graf6{
    background-color: white;
    border-radius: 20px;
}

.img_graf1{
    width: 70%;
}
.img_graf2{
    width: 80%;
}
.img_graf3{
    width: 80%;
}
.img_graf4{
    width: 90%;
}
.img_graf5{
    width: 95%;
}
.img_graf6{
    width: 95%;
}

.graf_p2_1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.graf_p2_2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

.graf_p2_3{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

.graf_p3_1{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
}

.graf_p3_2{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
}

/*-------------------------------------*/

.grid_4{
    background-color: rgb(100, 100, 100);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px 400px 400px;
}

.foto1{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.foto2{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.foto3{
    object-fit: cover;
    height: 900px;
    width: 100%;
}
.foto4{
    object-fit: cover;
    height: 400px;
    width: 100%;
}
.foto5{
    object-fit: cover;
    height: 400px;
    width: 100%;
}
.foto6{
    object-fit: cover;
    height: 400px;
    width: 100%;
}

.img1{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.img2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.img3{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.img4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
.img5{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
.img6{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

.img_f {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background 0.5s ease;
}
.img_f:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.5); 
}
.button {
    width: 100%;
    left:0;
    top: 0%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}
.button a {
    margin: 30%;
    display: flex;
    justify-content: center;
    padding: 15px 40px; 
    text-align: center;
    background: #ff921e; 
    color: white;
    border: 1px solid white;
    z-index: 1; 
}
.img_f:hover .button {
    opacity: 1;
}

/*------------отдельно для img3------------*/

.img3 {
    position: relative;
  }
  .img3:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.5); 
  }
  .img3:hover .button {
    opacity: 1;
  }